/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
/App/Http/routesModified controllers Cartographic,ThreeDimensional and add controller…  …
…s PeriodicPublication, CopyPeriodicPublication by Elias.php