/*.form-control:focus { 
    border: 3px solid #375a7f;
    background: #556b84;
    color: #fff;
}*/
.rote {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dp-checkbox>a:after{
    content: "\f096";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.dp-checkbox.dp-checked>a:after{
    content: "\f046";
}
.dp-checkbox [type="checkbox"]{
    display: none;
}

.dp-status {
    height: 30px;
    width: 30px;
    background: #dcdcdc;
    border-radius: 50%;
    margin-left: 50%;
    right: 15px;
    position: inherit;
}
input[type="radio"], input[type="checkbox"] {
    -moz-appearance: none !important;
}
.shadow{
    -webkit-box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.23);
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.23);
}

.pointer{
    cursor: pointer;
}